body{
    display: flex;
    justify-content: center;
    color:rgb(8, 29, 59)
}
.second{
    height: 600px;
    width: 400;
    margin-top: 25px;
    background-image:url("background pic.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding:9px;
}
.below{
    width: 395px;
    height:600px;
    border: 3px solid rgb(2, 17, 65)

}
.title{
    margin: 4px
}
.sub{
    font-size: large;
}
.footer{
    margin: 4px;
    position: absolute;
    bottom: 25px;
    left: 18px;
     right: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}
.edition-section{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.image{
    width: 100px;
    height: 120px;

}
.footer-text{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 13px;
}

.left-text{
    text-align: left;
    font-size: large;

}
.right-text{
    text-align: right;
    font-size: large;
}
.line{
     width:350px;
}
